<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Kokomi's Whale Bot</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pfp.jpg') }}">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <div class="textbox">
      <h2>Kokomi's Whale</h2>
      <br></br>
      <p>blah blah blah</p>
      <a href="https://discord.gg/RwPRpxEyM5"><button>Join the Discord server!</button></a>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>